<h1>Editando Autor</h1>

<%= render 'form', author: @author %>

<%= link_to 'Mostrar', @author, class: "btn btn-primary text-white" %> 
<%= link_to 'Voltar', authors_path, class: "btn btn-primary text-white" %>
