<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-8">
    <h2>Autores</h2>

  </div>
  <div class="col-md-4">
    <%= link_to 'Novo Autor', new_author_path, class:"btn btn-success text white" %>

  </div>
</div>

<table class="table table-bordered  ">
  <thead class="thead-default">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
       <% @authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td><%= link_to 'Ver', author, class: "btn btn-primary text-white" %>
          <%= link_to 'Editar', edit_author_path(author), class: "btn btn-warning text-white" %>
          <%= link_to 'Excluir', author, class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>


<br>

