<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @author.name %>
</p>

<%= link_to 'Editar', edit_author_path(@author), class: "btn btn-primary text-white" %> 
<%= link_to 'Voltar', authors_path, class: "btn btn-primary text-white" %>



