<h1>Editando Cliente</h1>

<%= render 'form', client: @client %>

<%= link_to 'Mostrar', @client, class:"btn btn-primary text-white" , style:"color:#fff"%>
<%= link_to 'Voltar', clients_path, class:"btn btn-primary text-white", style:"color:#fff"  %>
