<p id="notice"><%= notice %></p>

<div class="row align-middle">
  <div class="col-md-8 align-middle">
      <h2>Clientes</h2>
  </div>
  <div class="col-md-4 align-middle">
    <%= link_to 'Novo Cliente', new_client_path, class:'btn btn-success text-white' %>
  </div>
</div>


<table class="table table-bordered ">
  <thead class="thead">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= link_to 'Ver', client, class:'btn btn-primary text-white' %>
        <%= link_to 'Editar', edit_client_path(client), class:'btn btn-warning text-white' %>
        <%= link_to 'Excluir', client, method: :delete, class:'btn btn-danger text-white', data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>


<br>

