<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>


<%= link_to 'Editar', edit_client_path(@client), class:"btn btn-primary text-white" %> 
<%= link_to 'Voltar', clients_path, class:"btn btn-primary text-white"  %>
