<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :stock, "Estoque" %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :author_id, "Autor" %>

    <%= collection_select(:book,:author_id,@authors_for_select,:id,:name,{:prompt => 'selecione...'})%>
  </div>

  <div class="field">
    <%= form.label :category_id, "Categoria" %>
    <%= collection_select(:book,:category_id,@categories_for_select,:id,:name,{:prompt => 'selecione...'})%>

  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
