<h1>Editando Livro</h1>

<%= render 'form', book: @book %>

<%= link_to 'Mostrar', @book, class: "btn btn-primary text-white" %> 
<%= link_to 'Voltar', books_path, class: "btn btn-primary text-white" %>
