<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <h2>Livros</h2>
  </div>
  <div class="col-md-4">
    <%= link_to 'Novo Livro', new_book_path, class:"btn btn-success text-white" %>
  </div>
</div>

<%= search_form_for @q do |f| %>

  <%= f.label :title_cont, "Título:" %>
  <%= f.search_field :title_cont, class: "form-control" %>
  <%= f.label :author_name_cont, "Autor:" %> 
  <%= f.search_field :author_name_cont, class: "form-control" %>
  <br>
  <%= f.submit :class => "btn btn-success" %>

<% end %>


<table class="table table-bordered  " id="table">
  <thead class="thead-default">
    <tr>
      <th>Título</th>
      <th>Disponível</th>
      <th>Autor</th>
      <th>Categoria</th>
      <th>Ações</th>


    </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.stock %></td>
        <td><%= book.author.name %></td>
        <td><%= book.category.name %></td>
        <td><%= link_to 'Mostrar', book, class: "btn btn-primary text-white" %>
        <%= link_to 'Editar', edit_book_path(book), class: "btn btn-warning text-white" %>
        <%= link_to 'Excluir', book, method: :delete, class: "btn btn-danger text-white",  data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>


</script>
<br>

