<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id,"Livro" %>
    <%= collection_select(:reservation,:book_id,@books_for_select,:id,:title,{:prompt => 'selecione...'})%>
  </div>

  <div class="field">
    <%= form.label :client_id,  "Cliente" %>
    <%= collection_select(:reservation,:client_id,@clients_for_select,:id,:name,{:prompt => 'selecione...'})%>

  </div>

  <div class="field">
    <%= form.label :librarian_id,"Bibliotecário" %>
    <%= collection_select(:reservation,:librarian_id,@librarians_for_select,:id,:email,{:prompt => 'selecione...'})%>

  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
