<h1>Editando Reserva</h1>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Mostrar', @reservation, class:"btn btn-primary text-white" %> 
<%= link_to 'Voltar', reservations_path, class:"btn btn-primary text-white" %>
