<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    
    <h1>Reservas</h1>
  </div>
  <div class="col-md-4">
  <%= link_to 'Nova Reserva', new_reservation_path, class: "btn btn-success text-white" %>

  </div>
</div>

<table class="table table-bordered  ">
  <thead class="thead-default">
    <tr>
      <th>Livro</th>
      <th>Cliente</th>
      <th>Bibliotecário</th>
      <th>Ações</th>

    </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.book.title %></td>
        <td><%= reservation.client.name %></td>
        <td><%= reservation.librarian.email %></td>
        <td><%= link_to 'Mostrar', reservation, class: "btn btn-primary text-white" %>
        <%= link_to 'Editar', edit_reservation_path(reservation), class: "btn btn-warning text-white" %>
        <%= link_to 'Excluir', reservation, method: :delete, class: "btn btn-danger text-white", data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>


<br>

