<p id="notice"><%= notice %></p>

<p>
  <strong>Livro:</strong>
  <%= @reservation.book.title %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @reservation.client.name %>
</p>

<p>
  <strong>Bibliotecário:</strong>
  <%= @reservation.librarian.email %>
</p>

<%= link_to 'Editar', edit_reservation_path(@reservation), class:"btn btn-primary text-white" %> 
<%= link_to 'Voltar', reservations_path, class:"btn btn-primary text-white" %>
