<h1>Editando Livro</h1>

<%= render 'form', category: @category %>

<%= link_to 'Mostrar', @category, class: "btn btn-primary text-white" %> 
<%= link_to 'Voltar', categories_path, class: "btn btn-primary text-white" %>
