<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-8">
    <h2>Categorias</h2>
  </div>
  <div class="col-md-4">
    <%= link_to 'Nova Categoria', new_category_path, class: "btn btn-success text-white" %>

  </div>
</div>

<table class="table table-bordered  ">
  <thead class="thead-default">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to 'Mostrar', category, class: "btn btn-primary text-white" %>
          <%= link_to 'Editar', edit_category_path(category) , class: "btn btn-warning text-white" %>
          <%= link_to 'Excluir', category , class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>


<br>

