<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Editar', edit_category_path(@category), class:"btn btn-primary text-white" %> 
<%= link_to 'Voltar', categories_path, class:"btn btn-primary text-white" %>
