<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <%# <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div> %>

    <!-- search form (Optional) -->
    <%# <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form> %>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header"><%= link_to("Sair",destroy_user_session_path,method: :delete) %></li>
      
      <li class="header">Itens</li>


        <!-- Optionally, you can add icons to the links -->
      <li> <%= link_to('Reservas', reservations_path)%> </li>
      <li> <%= link_to('Clientes', clients_path)%> </li>
      <li> <%= link_to('Livros',books_path)%> </li>
      <li> <%= link_to('Autores',authors_path)%> </li>
      <li> <%= link_to('Categorias',categories_path)%> </li>
      
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
